<!--=== Slider ===-->
<div class="slider-inner">
  <div id="da-slider" class="da-slider">
    <div class="da-slide da-slide-current">
      <h2><i>CLEAN &amp; FRESH</i> <br /> <i>FULLY RESPONSIVE</i> <br /> <i>DESIGN</i></h2>
      <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i> <br /> <i>veniam omnis </i></p>
      <div class="da-img"><img class="img-responsive" src="../../../assets/images/parallax-slider/img/1.png" alt="image01"></div>
    </div>
    <div class="da-slide">
      <h2><i>RESPONSIVE VIDEO</i> <br /> <i>SUPPORT AND</i> <br /> <i>MANY MORE</i></h2>
      <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i></p>
      <div class="da-img">
        <iframe src="http://player.vimeo.com/video/47911018" width="530" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>
    </div>
    <div class="da-slide">
      <h2><i>USING BEST WEB</i> <br /> <i>SOLUTIONS WITH</i> <br /> <i>HTML5/CSS3</i></h2>
      <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i> <br /> <i>veniam omnis </i></p>
      <div class="da-img"><img src="../../../assets/images/parallax-slider/img/html5andcss3.png" alt="image02" /></div>
    </div>
    <div class="da-arrows">
      <span class="da-arrows-prev"></span>
      <span class="da-arrows-next"></span>
    </div>
  </div>
</div><!--/slider-->
<!--=== End Slider ===-->

<!--=== Purchase Block ===-->
<div class="purchase">
  <div class="container">
    <div class="row">
      <div class="col-md-9 animated fadeInLeft">
        <span>Unify is a clean and fully responsive incredible Template.</span>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi  vehicula sem ut volutpat. Ut non libero magna fusce condimentum eleifend enim a feugiat corrupti quos.</p>
      </div>
      <div class="col-md-3 btn-buy animated fadeInRight">
        <a href="#" class="btn-u btn-u-lg"><i class="fa fa-pencil fa-fw"></i> Contact Us Now</a>
      </div>
    </div>
  </div>
</div><!--/row-->
<!-- End Purchase Block -->

<!--=== Content Part ===-->
<div class="container content">
  <div class="title-box">
    <div class="title-box-text">We <span class="color-green">Do</span> Awesome Design</div>
    <p>Creative freedom matters user experience, we minimize the gap between technology and its audience.</p>
  </div>

  <div class="margin-bottom-40"></div>

  <!-- Info Blocks -->
  <div class="row">
    <div class="col-sm-4 info-blocks">
      <i class="icon-info-blocks fa fa-bell-o"></i>
      <div class="info-blocks-in">
        <h3>FREE Updates</h3>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
      </div>
    </div>
    <div class="col-sm-4 info-blocks">
      <i class="icon-info-blocks fa fa-hdd-o"></i>
      <div class="info-blocks-in">
        <h3>1000+ Icons</h3>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
      </div>
    </div>
    <div class="col-sm-4 info-blocks">
      <i class="icon-info-blocks fa fa-lightbulb-o"></i>
      <div class="info-blocks-in">
        <h3>Creative Ideas</h3>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
      </div>
    </div>
  </div>

  <div class="row margin-bottom-60">
    <div class="col-sm-4 info-blocks">
      <i class="icon-info-blocks fa fa-code"></i>
      <div class="info-blocks-in">
        <h3>SEO Ready</h3>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
      </div>
    </div>
    <div class="col-sm-4 info-blocks">
      <i class="icon-info-blocks fa fa-compress"></i>
      <div class="info-blocks-in">
        <h3>Fully Responsive</h3>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
      </div>
    </div>
    <div class="col-sm-4 info-blocks">
      <i class="icon-info-blocks fa fa-html5"></i>
      <div class="info-blocks-in">
        <h3>CSS3 + HTML5</h3>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
      </div>
    </div>
  </div>
  <!-- End Info Blocks -->

  <!-- Portfolio Sorting Blocks -->
  <div class="sorting-block">
    <ul class="sorting-nav sorting-nav-v1 text-center">
      <li class="filter" data-filter="all">All</li>
      <li class="filter" data-filter="category_1">UI Design</li>
      <li class="filter" data-filter="category_2">Wordpress</li>
      <li class="filter" data-filter="category_3">HTML5/CSS3</li>
      <li class="filter" data-filter="category_3 category_1">Bootstrap 3</li>
    </ul>

    <ul class="row sorting-grid">
      <li class="col-md-3 col-sm-6 col-xs-12 mix category_1" data-cat="1">
        <a href="#">
          <img class="img-responsive" src="../../../assets/images/main/img11.jpg" alt="">
          <div class="sorting-cover">
            <span>Happy New Year</span>
            <p>Anim pariatur cliche reprehenderit</p>
          </div>
        </a>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12 mix category_3" data-cat="3">
        <a href="#">
          <img class="img-responsive" src="../../../assets/images/main/img11.jpg" alt="">
          <div class="sorting-cover">
            <span>Happy New Year</span>
            <p>Anim pariatur cliche reprehenderit</p>
          </div>
        </a>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12 mix category_2" data-cat="2">
        <a href="#">
          <img class="img-responsive" src="../../../assets/images/main/img11.jpg" alt="">
          <div class="sorting-cover">
            <span>Happy New Year</span>
            <p>Anim pariatur cliche reprehenderit</p>
          </div>
        </a>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12 mix category_3" data-cat="3">
        <a href="#">
          <img class="img-responsive" src="../../../assets/images/main/img11.jpg" alt="">
          <div class="sorting-cover">
            <span>Happy New Year</span>
            <p>Anim pariatur cliche reprehenderit</p>
          </div>
        </a>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12 mix category_2" data-cat="2">
        <a href="#">
          <img class="img-responsive" src="../../../assets/images/main/img11.jpg" alt="">
          <div class="sorting-cover">
            <span>Happy New Year</span>
            <p>Anim pariatur cliche reprehenderit</p>
          </div>
        </a>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12 mix category_1" data-cat="1">
        <a href="#">
          <img class="img-responsive" src="../../../assets/images/main/img11.jpg" alt="">
          <div class="sorting-cover">
            <span>Happy New Year</span>
            <p>Anim pariatur cliche reprehenderit</p>
          </div>
        </a>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12 mix category_2" data-cat="2">
        <a href="#">
          <img class="img-responsive" src="../../../assets/images/main/img11.jpg" alt="">
          <div class="sorting-cover">
            <span>Happy New Year</span>
            <p>Anim pariatur cliche reprehenderit</p>
          </div>
        </a>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12 mix category_1" data-cat="1">
        <a href="#">
          <img class="img-responsive" src="../../../assets/images/main/img11.jpg" alt="">
          <div class="sorting-cover">
            <span>Happy New Year</span>
            <p>Anim pariatur cliche reprehenderit</p>
          </div>
        </a>
      </li>
    </ul>

    <div class="clearfix"></div>
  </div>
  <!-- End Portfolio Sorting Blocks -->
</div><!--/container-->
<!-- End Content Part -->

<!--=== Footer Version 1 ===-->
<div class="footer-v1">
  <div class="footer">
    <div class="container">
      <div class="row">
        <!-- About -->
        <div class="col-md-3 md-margin-bottom-40">
          <a href="index.html"><img id="logo-footer" class="footer-logo" src="../../../assets/images/logo@2x.png" alt=""></a>
          <p>About Unify dolor sit amet, consectetur adipiscing elit. Maecenas eget nisl id libero tincidunt sodales.</p>
          <p>Duis eleifend fermentum ante ut aliquam. Cras mi risus, dignissim sed adipiscing ut, placerat non arcu.</p>
        </div><!--/col-md-3-->
        <!-- End About -->

        <!-- Latest -->
        <div class="col-md-3 md-margin-bottom-40">
          <div class="posts">
            <div class="headline"><h2>Latest Posts</h2></div>
            <ul class="list-unstyled latest-list">
              <li>
                <a href="#">Incredible content</a>
                <small>May 8, 2014</small>
              </li>
              <li>
                <a href="#">Best shoots</a>
                <small>June 23, 2014</small>
              </li>
              <li>
                <a href="#">New Terms and Conditions</a>
                <small>September 15, 2014</small>
              </li>
            </ul>
          </div>
        </div><!--/col-md-3-->
        <!-- End Latest -->

        <!-- Link List -->
        <div class="col-md-3 md-margin-bottom-40">
          <div class="headline"><h2>Useful Links</h2></div>
          <ul class="list-unstyled link-list">
            <li><a href="#">About us</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">Portfolio</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">Latest jobs</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">Community</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">Contact us</a><i class="fa fa-angle-right"></i></li>
          </ul>
        </div><!--/col-md-3-->
        <!-- End Link List -->

        <!-- Address -->
        <div class="col-md-3 map-img md-margin-bottom-40">
          <div class="headline"><h2>Contact Us</h2></div>
          <address class="md-margin-bottom-40">
            25, Lorem Lis Street, Orange <br />
            California, US <br />
            Phone: 800 123 3456 <br />
            Fax: 800 123 3456 <br />
            Email: <a href="mailto:info@anybiz.com" class="">info@anybiz.com</a>
          </address>
        </div><!--/col-md-3-->
        <!-- End Address -->
      </div>
    </div>
  </div><!--/footer-->

  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>
            2015 &copy; All Rights Reserved. Unify Theme by
            <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
          </p>
        </div>
        <!-- Social Links -->
        <div class="col-md-6">
          <ul class="social-icons pull-right">
            <li><a href="#" data-original-title="Facebook" class="rounded-x social_facebook"></a></li>
            <li><a href="#" data-original-title="Twitter" class="rounded-x social_twitter"></a></li>
            <li><a href="#" data-original-title="Goole Plus" class="rounded-x social_googleplus"></a></li>
            <li><a href="#" data-original-title="Linkedin" class="rounded-x social_linkedin"></a></li>
            <li><a href="#" data-original-title="Pinterest" class="rounded-x social_pintrest"></a></li>
          </ul>
        </div>
        <!-- End Social Links -->
      </div>
    </div>
  </div><!--/copyright-->
</div>
<!--=== End Footer Version 1 ===-->
